.banner-background {
  position: relative;
  width: 100%;
  min-height: 65vh;
  max-height: 100vh; /* 원하는 배너 높이로 조절 */
  overflow: hidden;
}

.banner-image {
  width: 100%;
  min-height: 65vh;
  max-height: 100vh;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.banner-image:hover {
  transform: scale(1.05);
}
