.logo {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 0 40px;

  >img {
    height: 40px;
    // max-width: 100%;
  }
}

.digitalLogo {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin: 0 0 40px;

  >img {
    height: 40px;
    // max-width: 100%;
  }
}

.wrapper {
  margin: 10px 0;
}

@media (max-width:768px){
  .logo {
    gap: 20px;

    >img {
      height: 30px;
    }
  }

  .digitalLogo {

    gap: 20px;
    flex-wrap: wrap;
    margin: 0 0 40px;

    >img {
      height: 30px;
    }
  }
}