.mobileTable {
  border-collapse: separate;
  line-height: 1.5rem;

  th {
    height: 40px;
    min-width: 100px;
    padding: 10px 20px;
    margin: 15px 30px 15px 0;
    
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;

  }

  td {
    vertical-align: middle;
    line-height: 1.5rem;
    list-style-type: disc;
    }
}

.evaluationTable {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  font-family: pretendard;
  margin-bottom: 20px;
}

.evaluationTable th {
  background-color: rgba(23, 43, 70, 0.68);
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-weight: 600;
  margin: 15px 30px 15px 0;
}

.evaluationTable td {
  padding: 25px 15px;
  text-align: center;
  background-color: #f2f2f2;
}

.digitalUl  {
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 20px;
}

.digitalUl >li {
  list-style-type: disc;
  line-height: 2rem;
  margin-bottom: 10px;
}

@media (max-width:940px) {
  .pageWrapper {
    margin: 0 5vw;
  }

  .evaluationTable td {
    padding: 20px 10px;
  }
}