.pageWrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5rem;
  color: rgba(31, 41, 55, 1);
  font-family: pretendard;
  display: flex;
  flex-direction: column;
}
.serviceTable {
  font-size: 16px;
  border-collapse: separate;

  th {
    font-weight: 500;

    height: 40px;
    min-width: 100px;
    padding: 10px 20px;
    margin: 15px 15px 15px 0;

    background-color: #f2f2f2;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
  }

  td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
  }

  tr:nth-child(odd) td {
    background-color: white;
  }
}

/* 반응형 설정 */
@media (max-width: 940px) {
  .text {
    margin: 0 5vw;
  }
  .serviceTable {
    th {
      width: 90px;
      padding: 5px;
    }

    td {
      font-size: 14px;
      padding: 8px;
    }
  }

}
