.pageWrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  line-height: 1.5rem;
  color: rgba(31, 41, 55, 1);
  font-family: pretendard;
  display: flex;
  flex-direction: column;
}
.serviceTable {
  border-collapse: separate;
  border-spacing: 0 20px; // 행 사이의 수직 간격 추가
  font-family: "Pretendard";

  th {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    padding: 12px;
  }

  td {
    padding: 12px;
    text-align: left;
  }

  tr:nth-child(odd) td {
    background-color: white;
  }
}

/* 반응형 설정 */
@media (max-width: 768px) {
  .service-table {
    th {
      width: 100px;
      font-size: 14px;
      padding: 8px;
    }

    td {
      font-size: 14px;
      padding: 8px;
    }
  }
}
