.intro {
  color: white;
  width: 100%;

  h3 {
    background-image: url(/assets/mobileAward/intro.png);
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
    height: auto;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .intro>h3 {
    font-size: 1.1rem;
    padding: 2rem 0;
  }
}