.indexBase {
  width: 7rem;
  min-width: 7rem;
  display: inline-block;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  max-height: 24px;
  padding: 10px 20px;
  text-align: center;
  margin: 20px 0;
  border-radius: 3px;
  // box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.33);
}

.indexDigital {
  @extend .indexBase;
  background-color: #17395ecf;
}

.indexMobile {
  @extend .indexBase;
  background-color: #525252;
}

.indexAppliance {
  @extend .indexBase;
  background-color: #4f3477;
}

@media (max-width: 768px) {

  .indexDigital,
  .indexMobile,
  .indexAppliance {
    font-size: 1.1rem;
    min-width: auto;
    padding: 8px 15px;
  }
}